   @model gtbweb.Controllers.InputVideoModel
 @{
    ViewData["Title"] = "Video";
}
 

  <!--/ Section Portfolio Star /-->
  <section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Video Portfolio
            </h3>
            <p class="subtitle-a">
              @ViewBag.VideoCollection.Slogan
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      
      @foreach(var x in @ViewBag.VideoCollection.VideoView )
      {
        <div class="col-md-12">
          <div class="work-box">
              <div class="work-img">
                <iframe width="960px" height="540px" src=@x.VideoFilePath></iframe> 
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">@x.VideoTitle</h2>
                    <div class="w-more">
                      <span class="w-category">@x.VideoID</span> / <span class="w-date">@x.VideoLength</span>
                    </div>
                  </div>
                   <div class="row">
                      <div class="col-sm-4">
                        <div class="w-like">
                         <form  method="post" asp-action="Delete" asp-controller="Video">
                         <div class="form-group">
                            <input asp-for="Videoid" type="hidden" value=@x.VideoID>
                            <button type="submit"><span class="ion-ios-trash-outline"></span></button>
                          </div>
                          </form>
                        </div>
                      </div>
                      <div class="col-sm-4">
                          <div class="w-like">
                            <span class="ion-ios-plus-outline"></span>
                           </div>
                      </div>
                   </div>
                </div>
              </div>
          </div>
        </div>
      }
      

  <!--/ Section Testimonials Star /-->
  <div class="testimonials paralax-mf bg-image" style="background-image: url(/img/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div id="testimonial-mf" class="owl-carousel owl-theme">
            <div class="testimonial-box item">
              <div class="author-test">
                <img src="~/img/testimonial-4.jpg" alt="" class="rounded-circle b-shadow-a">
                <span class="author">Xavi Alonso</span>
              </div>
              <div class="content-test">
                <p class="description lead">
                  Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Lorem ipsum dolor sit amet,
                  consectetur adipiscing elit.
                </p>
                <span class="comit"><i class="fa fa-quote-right"></i></span>
              </div>
            </div>
            <div class="testimonial-box item">
              <div class="author-test">
                <img src="~/img/testimonial-4.jpg" alt="" class="rounded-circle b-shadow-a">
                <span class="author">Marta Socrate</span>
              </div>
              <div class="content-test">
                <p class="description lead">
                  Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Lorem ipsum dolor sit amet,
                  consectetur adipiscing elit.
                </p>
                <span class="comit"><i class="fa fa-quote-right"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
